*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height:100vh;
   
}
.container{
    border:2px solid black;
    border-radius: 14px;
    width:25%;
    /* height:80vh ; */
    margin: auto;
    background-color: rgb(43, 42, 42);
    justify-content: center;
/* text-align: center; */
margin-top: 6%;
padding-bottom: 5px;
}

.container input{
    border:1px solid black;
    width:100%;
    height:100px;

    font-size: 1.95rem;
    font-weight:none;
    text-align: right;
    padding: 4px;
    margin-bottom: 3px;
    border-radius: 9px;
}

.container .row{
    width:100%;
margin:0px 1px;
display: flex;
}

.container .row button{
    width:68px;
    height: 68px;
    border-radius: 9px;
    margin-right:1px;
    margin-bottom: 1px;
    font-size: 1.5rem;
    font-weight:normal;
    color:white;
    background-color: rgb(24, 23, 23);
    /* display: inline-block; */
    border: none;
    cursor: pointer;
}
.double-width{
    padding: 0px 66px;
    margin:0px 1px;
}
.double-length{
    padding:69px 0px;
}
#min-width{
    width:80%;
}
#min-height{
    height:69px;
}
.container .row .color{
background-color:rgb(165, 165, 165);
}
#grey{
background-color: rgb(165, 165, 165);
}
#orange{
    background-color:rgb(255, 104, 1) ;
    width:65px;
    margin:0px 2px;

}






@media only screen and (max-width:500px){
 .container{
    width:100%;
    height:100vh;
 }
 .container input{
    height:180px;
 }
 .container .row{

 }
 .container .row button{
    width:80px;
    height:90px;
 }

 #min-width{
margin-top: 22px;
 }
 .double-width{
    padding: 0px 80px;
}
.double-length{
    padding:91px 39px;
    margin-right: 0;
}
}
@media only screen and (max-width:390px){
    .double-width{
        padding: 0px 76px;
    }
    .double-length{
        padding:91px 35px;
        /* margin-right: 0; */
    }
}
@media only screen and (max-width:360px){
    .double-width{
        padding: 0px 73px;
    }
    .double-length{
        padding:91px 34px;
        margin-right: 0;
    }
}